# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# build
dist/
build/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# coverage
coverage/

# cache
.cache/

.serviceAccountKey.json
backend/services/auth/serviceAccountKey.json